.postbutton {
  position: fixed;
  bottom: 90px;
  right: 15px;
  background: var(--daangn-orange);
  border: none;
  border-radius: 44px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}

.contentBox {
  margin: 66px 0 75px;
}
