.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.upperbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid var(--daangn-lightgray);
}

.upperbar > :nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.opponentinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.opponentnickname {
  font-size: 16px;
  font-weight: bold;
}

.opponenttemp {
  background-color: orange;
  color: orangered;
  justify-self: center;
  align-self: center;
  padding: 1px 5px;
  border-radius: 12px;
  font-size: 12px;
}

.icon {
  width: 20px;
  height: 20px;
}

.upperbaricons {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.othericons {
  width: 24px;
  height: 24px;
}

.iteminfoBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.iteminfo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.itemimage {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.itemstatus {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.downarrow {
  width: 14px;
  height: 14px;
}

.iteminfoButton {
  border: 2px solid var(--daangn-lightgray);
  border-radius: 5px;
  align-self: flex-start;
  padding: 5px 10px;
}

.reserveStatus {
  font-size: 14px;
  color: lightgreen;
}

.soldStatus {
  font-size: 14px;
  color: #444444;
}

.itemname {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
}

.itemprice {
  font-size: 14px;
  font-weight: bold;
}

.userList {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

.userItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  gap: 10px;
}

.userimage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfobox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.userInfotext {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.userInfolocation {
  font-size: 12px;
  color: var(--daangn-gray);
}

.selectbuttonbox {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.selectbutton {
  background: var(--daangn-orange);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.noselecttext {
  margin-bottom: 10px;
}
