.tab {
  display: flex;
  border-bottom: 2px solid var(--daangn-lightgray);
  background-color: white;
  top: 65px;
  position: fixed;
  width: 100vw;
}

.activeTabButton {
  width: 50%;
  height: 40px;
  border: none;
  background: none;
  font-weight: bold;
  padding: 0;
  border-bottom: 2px solid black;
}

.inactiveTabButton {
  color: var(--daangn-gray);
  width: 50%;
  height: 40px;
  border: none;
  background: none;
  font-weight: bold;
  padding: 0;
}

.postbutton {
  position: fixed;
  bottom: 90px;
  right: 15px;
  background: var(--daangn-orange);
  border: none;
  border-radius: 44px;
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}

.contentBox {
  margin-top: 40px;
}
