.upperbar {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  z-index: 1000;
}

.navicons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.leftarrowicon {
  width: 20px;
  height: 20px;
}

.homeicon {
  width: 28px;
  height: 28px;
}

.etcicons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shareicon {
  width: 28px;
  height: 28px;
}

.dotsicon {
  width: 28px;
  height: 28px;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.actionSheet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 16px;
  gap: 8px;
}

.actionSheetContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.editbutton {
  width: 100%;
  background-color: rgb(235, 235, 235);
  border: none;
  color: rgb(72, 114, 253);
  font-size: 18px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid lightgray;
}

.deletebutton {
  width: 100%;
  background-color: rgb(235, 235, 235);
  border: none;
  color: red;
  font-size: 18px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cancelbutton {
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: rgb(72, 114, 253);
  font-size: 18px;
  font-weight: bold;
}

.reportbutton {
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: rgb(72, 114, 253);
  font-size: 18px;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
  overflow: hidden;
}

.imagewrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: auto;
}

.image {
  width: 100vw;
  height: 400px;
  max-width: none;
  max-height: none;
  object-fit: fill;
}

.gradientOverlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(105, 105, 105, 0.3),
    rgba(105, 105, 105, 0) 10%,
    rgba(105, 105, 105, 0) 90%,
    rgba(105, 105, 105, 0.3)
  );
  pointer-events: none;
}

.dots {
  position: absolute;
  top: 365px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e6e6e6;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: white;
}

.contentBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profilebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  gap: 10px;
}

.profileimage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
  gap: 10px;
}

.profiletext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mannertempbox {
  display: flex;
  flex-direction: column;
}

.temptext {
  font-size: 12px;
  text-align: right;
  color: #666666;
}

.nickname {
  font-size: 18px;
  font-weight: bold;
}

.address {
  font-size: 14px;
  color: #333333;
}

.itemInfo {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.titletext {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.categoryanddate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666666;
  font-size: 13px;
}

.article {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
}

.chatlikeview {
  font-size: 13px;
  color: #666666;
  padding-bottom: 25px;
}

.locationbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.locationtitle {
  font-size: 16px;
  font-weight: bold;
}

.reporttext {
  color: #666666;
  font-size: 14px;
}

.bottombar {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e6e6e6;
}

.likebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-right: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
}

.likeicon {
  height: 24px;
  width: 24px;
}

.priceandchat {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  flex: 1;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.offerstatus {
  font-size: 14px;
  font-weight: bold;
  color: #666666;
}

.chatbutton {
  background-color: var(--daangn-orange);
  border: none;
  border-radius: 6px;
  padding: 10px 14px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
