.main {
  display: flex;
  flex-direction: column;
}

.upperBar {
  display: flex;
  flex: 1;
  background-color: white;
  padding: 20px 10px 20px;
  position: sticky;
  top: 0;
}

.upperIcon {
  height: 25px;
}

.pageTitle {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.tab {
  position: relative;
  display: flex;
  border-bottom: 2px solid var(--daangn-lightgray);
}

.activeTabButton {
  width: 50%;
  height: 40px;
  border: none;
  background: none;
  font-weight: bold;
  padding: 0;
  /*border-bottom: 2px solid black;*/
}

.inactiveTabButton {
  color: var(--daangn-gray);
  width: 50%;
  height: 40px;
  border: none;
  background: none;
  font-weight: bold;
  padding: 0;
}

.underline {
  position: absolute;
  bottom: 0;
  width: 33.3vw;
  height: 2px;
  background-color: black;
  transition: left 0.3s ease;
}

.contentBox {
  gap: 15px;
}

.noContentBox {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  align-items: center;
  color: var(--daangn-gray);
  gap: 30px;
}

.navButton {
  flex: 0;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--daangn-lightgray);
  color: black;
  text-decoration: none;
  font-weight: bold;
}
